.book
    padding: 5px 20px
    border-radius: 20px
    color: #fff
nav
    .nav-link
     color: #fff 
     &:hover
        color: #ffc400
     &:active
        color: #ffc400
.navbar-scrolled
    background: rgba(1, 1, 1, 0.319)
   


/*slider*/
body
    height: 1000vh
.carousel-item
    height: 123vh
    min-height: 300px
  


.carousel-item::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #000
    opacity: 0.4

.carousel-caption
    bottom: 330px
    padding-left: 100px
    padding-right: 100px

.btn-1
    border-radius: 20px
    padding: 10px 15px

