.check-link
    text-decoration: none
    color:#000
    &:hover
        color: #ffb03b

.check-content
    display: flex
  
.left-side
    width: 100%
.specials-img
    padding-left: 30px
.desc
    width: 100%

