.second-carousel
    background-image: url(../image/events-bg.jpg)
    background-size: cover
    background-attachment: fixed
    position: relative
    height: 100vh
    &::before
     content: ""
     position: absolute
     top: 0
     left: 0
     height: 100%
     width:100%
     background: #000
     opacity: 0.4
    

.font-weight
    font-weight: 400
    font-size: 19px
.icons-desc
    .p
        font-weight: 300

.price-check
    font-size: 21px
    font-weight: bolder
    border-bottom: 3px solid #ffc400
    width: 3vw

.form-container
    max-width: 900px
    margin: 50px auto
    padding: 20px
    border-radius: 10px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
        
.form-group
    padding-bottom: 30px
        
.form-control
    border-radius: 5px
    width:260px
.btn-submit
    background-color: #FFB94E
    color: white
    border: none
    border-radius: 20px
    padding: 10px 20px
        
.btn-submit:hover
    background-color: #E8A63B

.upone
    display: flex
    gap: 25px
.up2
    display: flex
    gap: 25px

.up-img,
.down-img
    div
        overflow: hidden
    img
        transition: all 0.3s ease
        &:hover
            transform: scale(1.1)
    
.thirdcarousel
    background-image: url(../image/testimonials-bg.jpg)
    background-size: cover
    background-attachment: fixed
    position: relative
    height: 70vh
    &::before
     content: ""
     position: absolute
     top: 0
     left: 0
     height: 100%
     width:100%
     background: #000
     opacity: 0.4

.test-img
    border: 5px solid grey
    border-radius: 50%