.filter-btn
    border-radius: 20px
.title
    font-weight: bold
    font-size: 18px
    color: #ffb03b
.points
    color: #858484
    font-weight: 300
.price
    font-weight: bold
.lorem
    display: flex
    justify-content: flex-start
    font-size: 14px
    color: grey 


